:root {
  --mainBlue: #4c72c2;
  --dark1: hsl(267, 100%, 7%);
  --dark2: hsl(267, 70%, 20%);
}

p {
  margin: 0;
}

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 450;
  font-size: 12px;
  color: hsl(221, 95%, 20%);
  /* text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07); */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0;
}

.container {
  display: flex;
  min-block-size: 100vh;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  min-width: 200px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 100%;
  text-align: center;
  background: none;
  background-color: #4c72c2;
  color: hsl(300, 40%, 96%);
}

.name .title {
  font-weight: 700;
}

.about>p {
  margin: 5px 0;
}

.icon-heading {
  fill: hsl(300, 9%, 91%);
}

.headshot {
  width: 150px;
  margin: auto;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.main-pic-section {
    margin-top: 25px;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: auto 150px auto;
}

.personal-statement {
  padding: 0 25px 15px 0;
}

.work {
  min-width: 100%;
}

.project-section {
  margin: auto;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-container {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px auto;
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  /* min-inline-size: 200px;
  max-inline-size: 200px;
  inline-size: 200px; */
  padding: 20px;
}

.project-links {
  visibility: hidden;
}

.project-container:hover > .project-links{
  visibility: visible;
}

.project-links>a>.icon {
  width: 20px;
}

.rounded {
  border-radius: 50%;
}

.thumbnail {
  width: 75px;
  -webkit-shape-outside:circle();
  shape-outside: circle();
  float: left;
  margin: 0 20px 0 0;
  border: solid 2px var(--mainBlue);
  box-shadow: 0 1px 5px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.thumbnail:hover{
  box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);
}

.project-title {
  text-align: center;
  font-size: 13px;
  margin-bottom: 10px;
}


.description {
  font-size: 11px;
  margin-bottom: 10px;
}

.icons {
  /* z-index: -1; */
  /* display: inline-block; */
  display: flex;
  justify-content: center;
  margin: 5px 0;
  /* margin: 30px 0 10px 0; */
}
.icons>a {
  /* display: inline-block; */
  z-index: 30;
  margin: 0px 1px 0px 1px;
}
.clickable {
  z-index: 50;
}

.icon {
  width: 25px;
  border-radius: 0;
}

.l-right {
  float: right;
  margin: 0 0 0 20px;
}
.l-text-right {
  text-align: right;
}

@media(max-width:799px){
  .m-right {
    float: right;
    margin: 0 0 0 20px;
  }
  .m-left {
    float: left;
    margin: 0 20px 0 0;
  }
  .m-text-right {
    text-align: right;
  }
  .m-text-left {
    text-align: left;
  }
}

@media(max-width:599px){
  .s-right {
    float: right;
    margin: 0 0 0 20px;
  }
  .s-left {
    float: left;
    margin: 0 20px 0 0;
  }
  .s-text-right {
    text-align: right;
  }
  .s-text-left {
    text-align: left;
  }
}
@media(max-width:415px){
  .project-links {
    visibility: visible;
  }
  .project-section {
    max-width: 399px;
    padding: 0 60px;
  }
  .project-container:nth-child(odd) {
    margin-right: auto;
  }
  .project-container:nth-child(even) {
    margin-left: auto;
  }
  .xs-right {
    float: right;
    margin: 0 0 0 20px;
  }
  .xs-left {
    float: left;
    margin: 0 20px 0 0;
  }
  .xs-text-right {
    text-align: right;
  }
  .xs-text-left {
    text-align: left;
  }
}

span {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: center;
  font-size: 18px;
}

.char1 {
  transform: rotate(-39deg) translate(0, -85px);
}
.char2 {
  transform: rotate(-30deg) translate(0, -85px);
}
.char3 {
  transform: rotate(-21deg) translate(0, -85px);
}
.char4 {
  transform: rotate(-12deg) translate(0, -85px);
}
.char5 {
  transform: rotate(-3deg) translate(0, -85px);
}
.char6 {
  transform: rotate(12deg) translate(0, -85px);
}
.char7 {
  transform: rotate(21deg) translate(0, -85px);
}
.char8 {
  transform: rotate(30deg) translate(0, -85px);
}
.char9 {
  transform: rotate(39deg) translate(0, -85px);
}


.char10 {
  transform: rotate(53deg) translate(0, 85px);
}

.char11 {
  transform: rotate(43deg) translate(0, 85px);
}
.char12 {
  transform: rotate(34deg) translate(0, 85px);
}
.char13 {
  transform: rotate(20deg) translate(0, 85px);
}
.char14 {
  transform: rotate(11deg) translate(0, 85px);
}
.char15 {
  transform: rotate(2deg) translate(0, 85px);
}
.char16 {
  transform: rotate(-7deg) translate(0, 85px);
}
.char17 {
  transform: rotate(-16deg) translate(0, 85px);
}
.char18 {
  transform: rotate(-25deg) translate(0, 85px);
}
.char19 {
  transform: rotate(-34deg) translate(0, 85px);
}
.char20 {
  transform: rotate(-43deg) translate(0, 85px);
}
.char21 {
  transform: rotate(-52deg) translate(0, 85px);
}

.waveHorizontals{
	width: 100vw;
	height: 20px;
	position:relative;
	overflow:hidden;
	z-index:1;
}
.waveHorizontal{
	width: 200%;
	height: 100%;
	display: block;
	position:absolute;
	left:0; bottom:0;
	background-repeat:repeat-x;
	background-position:left top;
	background-size:350px 100%;
	transform-origin:0 0% 0;
	
	/* animation: move linear infinite; */
	animation-name:move;
	animation-timing-function:linear;
  animation-iteration-count:infinite;
}

#waveHorizontal1{
	background-image:url(./assets/images/wave-1.svg);
	animation-delay: -2s;
	animation-duration: 12s;	
}
#waveHorizontal2{
	background-image:url(./assets/images/wave-2.svg);
	animation-delay: -2s;
	animation-duration: 5s;	
}
#waveHorizontal3{
	background-image:url(./assets/images/wave-3.svg);
	animation-delay: -1s;
	animation-duration: 3s;
}
@-webkit-keyframes move{
	0% {		transform: translate(-175px,0px) scale(1,1);}
	50% {		transform: translate(-87px,0px) scale(1,0.5);}
	100% {	transform: translate(0px,0px) scale(1,1);}
}
.content{
	height:300px;
	position:relative;
	background-color:hsl(221, 49%, 53%);
	/* iOS safariで隙間が空くことへの対応 */
	margin:-1px 0;	
	z-index:2;
}

dude {
  color: hsla(221, 58%, 42%, 0.5);
}
