* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, main {
  height: 100%;
}
body {
  font-family: sans-serif;
  background: #fafafa;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  padding-bottom: 10px;
}
h2 {
  padding-bottom: 10px;
}
.links {
  display: flex;
  padding-bottom: 10px;
}
.link {
  height: 30px;
  padding: 0 3px;
}
.link:hover {
  cursor: pointer;
}
.scottPic {
  width: 400px;
  padding-bottom: 10px;
}