:root {
  --yellow: #ffc600;
  --black: #272727;
}

p {
  margin: 0;
}

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
  font-size: 12px;
  color: var(--black);
  /* text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07); */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0;
}

.container {
  /* display: grid; */
  /* margin: auto; */
  width: 100vw;
  height: 100vh;
  display: grid;
  /* grid-template-rows: 1fr; */
  grid-template-rows: 1fr auto auto 1fr;
}

.about>p {
  margin-bottom: 5px;
}
.main-content {
  display: grid;
  width: 80vw;
  margin: auto;
  /* grid-template-columns: 1fr 3fr; */
}
.work {
  width: 80vw;
  margin: auto;
  display: grid;
  /* background: peachpuff; */
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  grid-gap: 5px;
  align-items: start;
  justify-items: center;
  grid-gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
  grid-row-start: 3;
  /* grid-template-columns: repeat(4, minmax(200px, 1fr)); */
  /* grid-auto-flow: column; */

  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  /* grid-auto-rows: min-content; */
  /* grid-gap: 5px; */
  /* padding: 2em; */
}

@media(max-width:900px){
  .main-content {
    width: 90vw;
  }
  .work {
     grid-template-columns: repeat(3, 1fr);
  }
}
@media(max-width:650px){
  .work {
     grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width:430px){
  .work {
    grid-template-columns: 1fr;
  }
}

.work>div {
  width: 200px;
}

.about {
  text-align: center;
  grid-row-start: 2;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end; */
}


.rounded {
  /* width: 9em; */
  border-radius: 50%;
}

.thumbnail {
  width: 75px;
  /* overflow: hidden; */
  /* float: left; */
  /* margin-right: 1em; */
  -webkit-shape-outside:circle();
  shape-outside: circle();
  float: left;
  margin-right: 2rem;
}

.project-title {
  text-align: center;
  font-size: 13px;
  margin-bottom: 10px;
}


.description {
  font-size: 11px;
  margin-bottom: 10px;
}

/* .project-container {
  text-align: center;
  display: grid;
  justify-content: center;
  justify-self: center;
} */
.icons {
  z-index: -1;
  /* display: inline-block; */
  display: flex;
  justify-content: center;
}
.icons>a {
  /* display: inline-block; */
  z-index: 30;
  margin: 0px 1px 0px 1px;
}
.clickable {
  z-index: 50;
}
.icon {
  width: 25px;
  border-radius: 0;
}

.project-links>a>.icon {
  width: 20px;
}

.headshot {
  width: 150px;
  margin: auto;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.main-pic-section {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto 150px auto;
}

span {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: center;
  font-size: 18px;
}

/* .name span {
  font: 26px Monaco, MonoSpace;
  height: 50px;
  position: static;
  width: 20px;
  left: 0;
  top: 0;
  transform-origin: center center;
} */

.char1 {
  transform: rotate(-39deg) translate(0, -85px);
}
.char2 {
  transform: rotate(-30deg) translate(0, -85px);
}
.char3 {
  transform: rotate(-21deg) translate(0, -85px);
}
.char4 {
  transform: rotate(-12deg) translate(0, -85px);
}
.char5 {
  transform: rotate(-3deg) translate(0, -85px);
}
.char6 {
  transform: rotate(12deg) translate(0, -85px);
}
.char7 {
  transform: rotate(21deg) translate(0, -85px);
}
.char8 {
  transform: rotate(30deg) translate(0, -85px);
}
.char9 {
  transform: rotate(39deg) translate(0, -85px);
}


.char10 {
  transform: rotate(53deg) translate(0, 85px);
}

.char11 {
  transform: rotate(43deg) translate(0, 85px);
}
.char12 {
  transform: rotate(34deg) translate(0, 85px);
}
.char13 {
  transform: rotate(20deg) translate(0, 85px);
}
.char14 {
  transform: rotate(11deg) translate(0, 85px);
}
.char15 {
  transform: rotate(2deg) translate(0, 85px);
}
.char16 {
  transform: rotate(-7deg) translate(0, 85px);
}
.char17 {
  transform: rotate(-16deg) translate(0, 85px);
}
.char18 {
  transform: rotate(-25deg) translate(0, 85px);
}
.char19 {
  transform: rotate(-34deg) translate(0, 85px);
}
.char20 {
  transform: rotate(-43deg) translate(0, 85px);
}
.char21 {
  transform: rotate(-52deg) translate(0, 85px);
}