* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  /* height: 100%; */
}
body {
  font-family: sans-serif;
  color: #282928;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
h1 {
  /* padding-top: 20px; */
  padding-bottom: 10px;
}
p {
  padding-bottom: 10px;
}
h3 {
  padding-bottom: 10px;
}
nav {
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
}
.link {
  height: 30px;
  padding: 0 3px;
}
.link:hover {
  cursor: pointer;
}
.scottPic {
  padding-bottom: 10px;
}

footer {
  display: flex;
  flex-direction: column;
}

.boardEmoji {
  text-decoration: none;
  font-size: 2em;
}

.leafEmoji {
  text-decoration: none;
  font-size: 1.5em;
}

.quote {
  font-size: 12px;
  font-style: italic;
}