* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
body {
  font-family: sans-serif;
  background: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scottPic {
  width: 400px;

}